<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alarm_food">

    <application>
        <activity android:name=".AlarmFoodActivity"></activity>
        <receiver android:name=".AlertReceiver" />
    </application>

</manifest>